    @model List<Content>

<section class="blog-wrap-layout1">
    <div class="container">
        <div class="row">
            @foreach (var content in Model)
            {
                <div class="col-lg-4">
                    <div class="blog-box-layout1">
                        <div class="item-content" style="margin: 30px;">
                            <h3 class="item-title">
                                <a href="/ContentType/@(content.ContentTypeId)/@(content.ContentType.Name.Replace(" ","-"))">@(content.ContentType.Name)</a>
                            </h3>
                        </div>

                        <div class="item-img">
                            <a href="/ContentType/@(content.ContentTypeId)/@(content.ContentType.Name.Replace(" ","-"))">
                                @if (content.CoverImage != null)
                                {
                                    <img src="~/UplodedFiles/@(content.ProfileImage.FileName)" alt="@(content.Name)">
                                }
                            </a>
                        </div>
                        <div class="item-content">
                            <p>@(content.Description)</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>