@model IEnumerable<Domain.Content>
@{
    int index = 0;
}
@if (Model.Any())
{
    <div class="widget">
        <div class="section-heading heading-dark">
            <h3 class="item-heading">پست های محبوب</h3>
        </div>
        <div class="widget-latest">
            <ul class="block-list">
                @foreach (var content in Model)
                {
                    <li class="single-item">
                        <div class="item-img">
                            <a href="#"><img src="~/UplodedFiles/@(content.ProfileImage.FileName)" alt="Post"></a>
                            <div class="count-number">@(++index)</div>
                        </div>
                        <div class="item-content">
                            <ul class="entry-meta meta-color-dark">
                                <li><i class="fas fa-calendar-alt"></i>@(content.CreationTime.ToPersianDateString())</li>
                            </ul>
                            <h4 class="item-title"><a href="#">@(content.Title)</a></h4>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}